header 
    .navbar 
        a(href="/").name 
            //- img#logo( src='/assets/logo.svg' width='25px')
            span Onion DAO

        button(aria-expanded="false" aria-controls="menu")#burgerToggle
            label(for="side-menu").hamburger
                span(class="slice")
                span(class="slice")
                span(class="slice")
        nav(role="navigation").navigation 
            ul#menu
                li: a(href="/").link Home
                li: a(href="/node-status").link Node status 
                li: a(href="tor-friendly-vps-list").link Friendly VPS list
                li: a(href="https://oniondao.docs.apiary.io/" target="_blank").link API
                li: a(href="https://github.com/Onion-DAO/litepaper" target="_blank").link Litepaper