//- --------------------------------
//- HiPew settings
//- --------------------------------

//- This is pace-specific metadata
-
	const page = {
		title: 'OnionDAO', desc: 'Adding incentive layers to public goods', url: '/',
		published: '2022-03-21',
		// featuredimg: '/assets/robert-katzki-jbtfM0XBeRc-unsplash.jpg'
	}
//- This is a file with helpers
include pug/_helpers.pug


//- --------------------------------
//- Webpage source code
//- --------------------------------

doctype html
html( lang=content.lang )
	include pug/_header.pug
	body#index
		
		main
			section#hero
				h1 Onion DAO
				h2 Adding incentive layers to public goods.

			section#intro
				h2 The Goal of Onion DAO
				p Onion DAO recognises that public goods run by volunteers result in suboptimal support for said public goods.
				p Onion DAO aims to add incentive layers to public goods in order to stimulate entities to support them.
				div.row
					a( target='_blank' href='https://github.com/Onion-DAO/litepaper' ).button Read Litepaper
					a( href='#initiatives' ).button.invert Get involved

			section.usps
					div.usp
						p 1️⃣
						p Support a public good
					div.usp
						p 2️⃣
						p Receive POAPs
					div.usp
						p 3️⃣
						p Your POAPs unlock value


			section#initiatives
				h2 Current initiatives:
				section.usps
					div.usp
						p 🧅
						p Run a Tor exit node. OnionDAO currently runs <b class='metric tor-contribution-percentage'>%</b> of all Tor exit nodes.
						a( href='https://github.com/Onion-DAO/tornode' ).button Read instructions


			section#cta
				h2 Join us
				section.usps
					div.usp
						a( href="https://discord.com/invite/rocketeers" )
							img( src="/assets/discord-logo-black.svg" )
						p Join us in the Rocketeer discord in channel <a href="https://discord.com/invite/rocketeers">「🧅」onion-dao</a>

			section#social
				h2 Social activity

				div.row
					script(  async src="https://platform.twitter.com/widgets.js" charset="utf-8" )

					//- 
					blockquote.twitter-tweet( data-conversation="none" data-dnt="true" )
						p(  lang="en" dir="ltr" ) Ser, I&#39;m pretty sure you&#39;re going to need a DAO :) This is a simple thing that increases access to free speech during extraordinary times. Thank you for your service.</p>&mdash; superphiz.eth 🦇🔊🐼 (@superphiz) <a href="https://twitter.com/superphiz/status/1498689948425375747?ref_src=twsrc%5Etfw">March 1, 2022</a>

					//- 
					blockquote.twitter-tweet( data-conversation="none" data-dnt="true" )
						p(  lang="en" dir="ltr" ) The world tends to be wholly unaware how much of our collective human infrastructure depends on a few dedicated volunteers.</p>&mdash; Glory Lab 🇺🇦 (@glorylaboratory) <a href="https://twitter.com/glorylaboratory/status/1502310671572434944?ref_src=twsrc%5Etfw">March 11, 2022</a>

					//- 
					blockquote.twitter-tweet( data-conversation="none" data-dnt="true" )
						p(  lang="en" dir="ltr" ) Magical! Great improvement.</p>&mdash; Patent (@huckleberie) <a href="https://twitter.com/huckleberie/status/1504899663933050884?ref_src=twsrc%5Etfw">March 18, 2022</a>
					
		include pug/_footer.pug